body {
    background: url("../images/LoginBanner.png") no-repeat center top fixed;
    background-size: 200%;
    position:absolute;
    z-index:-1;
}

#LogoText {
	font-size:80px;
        font-family:"Shree Devanagari 714";
        color:grey;
        position:relative;
        top:-90px;
        left:69px;
}

#SubLogoText {
    font-size:25px;
    font-family:"Shree Devanagari 714";
    color: black;
    position:relative;

}

#InputForms {
    position:relative;
    left: 138px;
    top: -180px;
}

#ContactLink {
	padding:5px;
	color:black;
	position:relative;
}
/*
#SiteInfo {
    background-color:white;
    font-size:20px;
    font-family:"Shree Devanagari 714";
    color:black;
    width:525px;
    word-wrap: break-word;
    position:relative;
    padding:15px;
    left:250px;
    bottom:100px;
    border:0px outset grey;
    box-shadow: inset 1px 0 1px 1px #010;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
}

.LoginButton {
	position:relative;
	left: 100px;
	bottom:0px;
	font-size:10px;
	font-family:"Shree Devanagari 714";
	color:grey;
}
.RegisterButton {
	position:relative;
	left: 100px;
	bottom:-50px;
	font-size:17px;
	font-family:"Shree Devanagari 714";
	color:grey;

}
input:hover,
input:focus {
	color: #FFFFFF;
	background: #99CC99;
        border: 1px transparent #38a;
        -webkit-transition: all 1.40s ease-in-out;
        -moz-transition: all 1.40s ease-in-out;
        -o-transition: all 1.40s ease-in-out;
        transition: all 1.40s ease-in-out;
}
input{
	font-size: 24px;
        width: 230px;
        height: 55px;
        border-radius: 14px;
        cursor: pointer;
        text-shadow:1px 1px 0px rgba(23,30,0,.5);
        -webkit-transition: all 1.40s ease-in-out;
        -moz-transition: all 1.40s ease-in-out;
        -o-transition: all 1.40s ease-in-out;
        transition: all 1.40s ease-in-out;
}
input[name='RegisterButton'] {
    background:none!important;
    border:none;
    font-size:25px;
    padding:0!important;
    font: inherit;
    cursor: pointer;
    opacity:1;
    color:black;
}
*/
