body {
        background: url("../images/SubFiBanner.png") no-repeat center top fixed;;
        background-size: 200%;
	position:absolute;
}

#LogoText {
        font-size:80px;
        font-family:"Shree Devanagari 714";
        color:grey;
        position:relative;
        top:-90px;
        left:69px;
}
#SubLogoText {
        font-size:40px;
        font-family:"Shree Devanagari 714";
        color: #C1C1CB;
        position:relative;
        left:125px;
        bottom:360px;
}
#SubSubLogoText {
        font-size:20px;
        font-family:"Shree Devanagari 714";
        color: #BFBFD4;
	position:relative;
	left:50%;
	bottom:350px;
	padding: 5px 0 5px 0;
}
@keyframes flickerAnimation { /* flame pulses */
    0%   { opacity:0; }
    15%   { opacity:0.65; }
    30%   { opacity:1; }
    60%  { opacity:1; }
    75%   { opacity:0.75; }
    90%   { opacity:0.35; }
    100% { opacity:0; }
}
#ErrorText {
	font-size:30px;
	opacity:0;
	font-weight:bold;
	color:red;
	font-family:"Shree Devanagari 714";
	position:relative;
	left:440px;
	bottom:1075px;
	width:400px;
	animation: flickerAnimation 5.0s;
}

#EmailNameErrorText {
	font-size:20px;
	font-weight:bold;
        font-family:"Shree Devanagari 714";
        color: red;
	position:relative;
}
#PasswordErrorText {
	font-size:20px;
        font-weight:bold;
        font-family:"Shree Devanagari 714";
        color: red;
	position:relative;
}
#EmptyErrorText {
	font-size:20px;
        font-weight:bold;
        font-family:"Shree Devanagari 714";
        color: red;
	position:relative;
}
#HumanErrorText {
	font-size:20px;
        font-weight:bold;
        font-family:"Shree Devanagari 714";
        color: red;
	position:relative;
}


#HumanCheck {
	font-size:15px;
        font-family:"Shree Devanagari 714";
        color: #CCCCCC;
        position:relative;
        left:550px;
        bottom:175px;
}
#HomeButton {
	opacity:0;
	position:relative;
	left:-15px;
	bottom:220px;
}

#InputForms {
        padding:0px;
        position:relative;
        left:450px;
        bottom:670px;
}

input:hover,
input:focus {
        color: #000000;
        background: #F0AEF0;
        border: 4px transparent #38a;
        -webkit-transition: all 1.40s ease-in-out;
        -moz-transition: all 1.40s ease-in-out;
        -o-transition: all 1.40s ease-in-out;
        transition: all 1.40s ease-in-out;
}
input{
        font-size: 24px;
        width: 230px;
        height: 55px;
        border-radius: 14px;
        cursor: pointer;
        text-shadow:1px 1px 0px rgba(23,30,0,.25);
        -webkit-transition: all 1.40s ease-in-out;
        -moz-transition: all 1.40s ease-in-out;
        -o-transition: all 1.40s ease-in-out;
        transition: all 1.40s ease-in-out;
}
input[type='checkbox'] {
	width:30px;
	height:30px;
	position:relative;
	left:35px;
	bottom:-7px;
	opacity:1.0;
	color:white;
	background:white;
}
